 @charset "UTF-8";
body{
	background-color:#FEDCBD;
}
ul.app{
	width: 200px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #eeeeee;
}
ul.app li a{
	display: block;
	padding: 5px 16px;
	text-decoration: none;
	color: #000000;
}
ul.app li{
	text-align: center;
}
ul.app li:last-child {
	border-bottom: none;
}
ul.app li a.active {
	color: #ffffff;
	background-color: #da3c41;
}
ul.app li a:hover:not(.active) {
	color: #ffffff;
	background-color: #1b2538;
}
header{
	width:100%;
	padding:30px 4% 10px;
	background-color:#fff;
	position:fixed;
	top:0;
	display:flex;
	align-items:center; 
	border-bottom:double 5px orange;
}
h1{
	margin:0;
	padding:0;
	font-size:25px;
}
a{
	text-decoration:none;
	color:#4b4b4b;
}

a:hover{
	text-decoration:underline;
	color:#FFA500;
}
ul.header{
	list-style:none;
	margin:0;
	display:flex;
}
ul.header li{
	flex-grow:20;
	margin:0 0 0 15px;
	font-size:14px;
}
nav{
	margin:0 0 0 auto;
}
*{
	box-sizing:border-box;
}
section{
	padding-top:100px;
}
div.categoryName{
	background-color:orange;
	color:white;
	width:200px;
	height:50px;
	padding:10px;
	font-size:20px;
}
dialog{
	border:2px solid orange;
	width:500px;
	
}
