@charset "UTF-8";

table.app {
  border-collapse: collapse;
  width: 200px;
  font-size: 15px;
  margin: 20px;
  text-align: left;
}
table.app th {
  color: white;
  background-color: orange;
  padding: 10px;
}
table.app td {
  color: black;
  background-color: white;
  padding: 5px;
  border-bottom: 2px dotted lightgray;
}
#header{

	height:85px;
	background-color:#ff8c00;
}
#link{
	margin:10px;
	text-decoration:none; 
	color:#ffffff;
}
#fotter{
	height:85px;
	background-color:#ff8c00;
}
#login{
	margin:15px;
	border:1px solid;
	border-color:#ff8c00;
}