@charset "UTF-8";
.main {
	display: flex;
	justify-content:space-around;
}

table.home {
  border-collapse: collapse;
  width: 600px;
  font-size: 15px;
  margin: 20px;
  text-align: left;
}
table.home th {
	border:3px white solid;
  color: white;
  background-color: orange;
  padding: 10px;
}
table.home td {
  color: black;
  background-color: white;
  padding: 10px;
  border-bottom: 2px dotted lightgray;
}