@charset "UTF-8";
table.mypage{
padding-top:700px;
  border-collapse:collapse;
  margin:0 auto;
  width:800px;
  font-size:15px
}
table.mypage td,table.mypage th{
  border:1px black solid;
  padding:10px;
}
table.mypage th{
  color:#fff;
  background:orange;
}
table.mypage tr:nth-child(1n){
  background:whitesmoke;
}
table.mypage tr:nth-child(2n){
	background:white;
}


div.mypageLayout{
	display:flex;
	align-items: baseline;
}
div.profile{
width:500px;
height:auto;
min-height: 500px;
background-color:white;
margin-right:200px;
border-radius:10%;
}
div.profileInner{
	background-color:white;
	width:400px;
	margin:50px 50px 50px 50px;
	height:auto;
	border: 2px solid orange;
	border-radius:10%;
}

.profile-image img {
    width: 150px;
    height:150px;
    border-radius: 50%;
}