<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link rel="stylesheet" th:href="@{/css/app.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/article.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/error.css}" type="text/css">
<meta charset="UTF-8">
<title>記事投稿画面</title>
</head>
<body>
<header th:include="app :: frag_header_logout"></header>
<section>
<div class="article">
<th:block th:if="${validationError}" >
<div class="error">
<th:block th:each="error : ${validationError}">
※<th:block th:text="${error}"></th:block>
<br/>
</th:block>
</div>
</th:block>
<form th:action="@{articles}"method="post">
<table align="center">
<thead>
</thead>
<tbody>
<tr>
<td><strong>記事のタイトル</strong></td>
</tr>
<tr>
<td>
<input type="text" name="title" size="70"/>
</td>
	</tr>
	<tr>
		<td>
		<strong>本文</strong>
		</td>
	</tr>
	<tr>
		<td>
			<textarea name="content" cols="70" rows="20" style="resize:none;
			overflow:scroll; overflow-wrap:break-word;"></textarea>
		</td>
	</tr>
	<tr>
		<td>
			<strong>カテゴリ</strong>
		</td>
	</tr>
	<tr>
		<td>
			<select name="categoryId">
						<option th:each="obj:${categoryList}" th:value="${obj.key}"
							th:text="${obj.value}"></option>
				</select> 
		</td>
	</tr>
	<tr>
		<td>
			<input type="text" name="tag"size="70"placeholder="資格の名称を追加できます"/>
		</td>
	</tr>
	<tr>
		<td>
		<div align="right">
			<input type="submit" value="投稿する"style="background-color:#BDD9FE; color:white;
			width:100px; height:40px"/>
			</div>
		</td>
	</tr>
	</tbody>
</table>
</form>
</div>
</section>
<div id="fotter"></div>
</body>
</html>