<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/app.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/home.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/articleShow.css}" type="text/css">
<title>ゲストページ</title>
</head>
<body>
	<header th:include="app :: frag_header_logout"></header>
	<dialog id="dialog" th:include="app :: dialog"></dialog>
	<section>
	<div class="outer"th:object="${articles}">
	<div class="inner">
	<strong><th:block th:text="*{account.name}"></th:block></strong>さんが
	<th:block th:text="*{#dates.format(created_at,'yyyy/MM/dd')}"></th:block>に投稿しました
	<div align="right">
	<img th:if="${favorite}"src="/images/favorite_0.png" style="width:50px; height:50px;" id="favorite">
	<img th:unless="${favorite}" src="/images/favorite_1.png" width="50px" height="50px" id="favorite">
	</div>
	<h1 th:text="*{title}"></h1>
	<p th:text="*{categorymodel.category}"></p>
	<br />
	<hr />
	<th:block th:if="*{content}">
	<th:block th:each="line : *{content.split('\r\n|\r|\n',-1)}">
	<th:block th:text="${line}"/><br />
	</th:block>
	</th:block>
	</div>
	<div class="commentList" >
	<strong>コメント</strong>
	<hr/>
	<div th:fragment="comment" id="commentArea">
	<th:block  th:if="${commentsList}" th:each="obj : ${commentsList}">
	<img th:src="${obj.account.profileImage}" style="width:40px; height:40px; border-radius: 50%;">
	<th:block th:if="${obj.account.id == account.id}">
	<strong><a th:href="@{/userPage(id=${obj.account.id})}" th:text="${obj.account.name}"></a></strong>
	<th:block th:text="${#dates.format(obj.created_at,'yyyy/MM/dd')}"></th:block>
	<img src="/images/check.jpeg" alt="チェックマーク" width="30px" height="30px">
	<p th:text="${obj.content}"></p>
	</th:block>
	<th:block th:unless="${obj.account.id == account.id}">
	<strong><a th:href="@{/userPage(id=${obj.account.id})}" th:text="${obj.account.name}"></a></strong>
	<th:block th:text="${#dates.format(obj.created_at,'yyyy/MM/dd')}"></th:block>
	<p th:text="${obj.content}"></p>
	</th:block>
	<br/>
	<hr/>
	</th:block>
	</div>
	</div>
	<div class="comment">
	<strong>コメントする</strong>
	<hr />
	<div class="commentArea">
	<div class="textArea">
	<textarea name="content" id="comment" placeholder="テキストを入力" 
	style="overflow:scroll; overflow-wrap:break-word; resize:none; height:100px; width:580px;"></textarea>
	<div align="center">
	<input type="button" value="投稿" id="button">
	<div>
	<input type="hidden" th:value="*{id}" id="articleId">
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	<br/>
	</section>
	<script src="/javascript/favorite.js"></script>
	<script src="/javascript/comment.js"></script>
	<script src="/javascript/dialog.js"></script>
</body>
</html>