<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/app.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/home.css}" type="text/css">
<title>お問い合わせページ</title>
</head>
<body>
<div th:include="gestapp :: frag_header_new"></div>
<div align="center">
<form th:action="@{/contactus}" method="post">
<input type="text" name="email" size ="40" placeholder="登録してるメールアドレスを入力してください"/>
<input type="submit" value="送信">
</form>
</div>
</body>
</html>
