<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link rel="stylesheet" th:href="@{/css/app.css}" type="text/css">
<meta charset="UTF-8">
<title>編集画面</title>
</head>
<body>
<header th:include="app :: frag_header_logout"></header>
<section>
<form th:action="@{execution}" method="post">
<table align="center">
	<tr>
		<td>
			<span>記事のタイトル</span>
		</td>
	</tr>
	<tr>
		<td>
			<input type="text" name="title" size="50" th:field="${article.title}"/>
		</td>
	</tr>
	<tr>
		<td>
			<span>本文</span>
		</td>
	</tr>
	<tr>
		<td>
			<textarea name="content" cols="50" rows="15" th:field="${article.content}"></textarea>
		</td>
	</tr>
	<tr>
		<td>
			<span>カテゴリ</span>
		</td>
	</tr>
	<tr>
		<td>
			<select name="categoryId">
						<option th:each="obj:${categoryList}" th:value="${obj.key}"
							th:text="${obj.value}"></option>
				</select> 
		</td>
	</tr>
	<tr>
		<td>
			<input type="text" name="tag"size="50"placeholder="資格の名称を追加できます" th:value="${article.tag}"/>
		</td>
	</tr>
	<tr>
		<td>
			<button type="submit" name="execution" value="back">戻る</button>
				<button type="submit" name="execution" value="regist">実行</button>
		</td>
	</tr>
</table>
</form>
</section>
<div id="fotter"></div>
</body>
</html>