<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/home.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/app.css}" type="text/css">
<title>ホーム</title>
</head>
<body>
<header th:include="app :: frag_header_login"></header>
<dialog id="dialog" th:include="app :: dialog"></dialog>
<section>
<div class="main" id ="categoryList">
	<div th:include="app :: frag_category" id="category"></div>
<div id="sortTab">
<div class="sort">
<a href="#"class="sort"id = "tab" data-sort="new">最新の記事</a>
<a href="#"class="sort"id = "tab" data-sort="popular">閲覧数が多い記事</a>
</div>
<div id="article" th:fragment="articleList">
<table class="home">
<thead>
</thead>
<tbody id="article" th:fragment="articleList">
<tr th:each="obj : ${articlesList}">
<td colspan="3"><a th:href="@{/articlesShow(id=${obj.id})}"th:text="${obj.title}" id="title"></a>
<br/>
<p th:text="${obj.created_at}"></p>
</td>

</tr>
</tbody>
</table>
<div  class="pagenation"style="color:orange;font-size:20px;" th:unless="${page.totalPages lt 0}">
<ul>
                <li th:class="${page.first} ? 'disabled':''" style="display:inline">
        <span th:if="${page.first}">←先頭</span>
                    <a th:if="${not page.first}" th:href="@{${url}(page=1)}">←先頭</a>
                </li>
                <li th:class="${page.first} ? 'disabled' : ''" style="display:inline">
        <a th:if="${not page.first}"th:href="@{${url}(page=${page.number})}">前へ</a>
        </li>
                <li th:each='i : ${#numbers.sequence(0, page.totalPages-1)}' th:class="(${i}==${page.number})? 'active' : ''" style="display:inline">
                    <span th:if='${i}==${page.number}' th:text='${i+1}'>1</span>
                    <th:block th:unless="${i} lt 0">
                    <a th:if="${i}!=${page.number}"th:href="@{${url}(page=${i+1})}">
                        <span th:text='${i+1}'>1</span>
                    </a>
                    </th:block>
                </li>
                <li th:class="${page.last} ? 'disabled' : ''" style="display:inline">
                <a th:if="${not page.last}" th:href="@{${url}(page=${page.number + 2})}">次へ</a>
                <li th:class="${page.last} ? 'disabled':''" style="display:inline">
                  <span th:if="${page.last}">末尾➝</span>
                    <a th:if="${not page.last}" th:href="@{${url}(page=(${page.totalPages}))}">末尾➝</a>
                </li>
            </ul>
            </div>
	</div>
	</div>
</div>
</section>
<script src="/javascript/dialog.js"></script>
 <script src="/javascript/home.js"></script>
 <script src="/javascript/category.js"></script>
 <script src="/javascript/title.js"></script>
</body>
</html>