<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/app.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/home.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/articleShow.css}" type="text/css">
<title>記事詳細</title>
</head>
<body>
	<header th:include="app :: frag_header_login"></header>
	<dialog id="dialog" th:include="app :: dialog"></dialog>
	<section>
	<div class="outer"th:object="${articles}">
	<div class="inner">
	<strong><th:block th:text="*{account.name}"></th:block></strong>さんが
	<th:block th:text="*{#dates.format(created_at,'yyyy/MM/dd')}"></th:block>に投稿しました
	<h1 th:text="*{title}"></h1>
	<p th:text="*{categorymodel.category}"></p>
	<br />
	<hr />
	<th:block th:if="*{content}">
	<th:block th:each="line : *{content.split('\r\n|\r|\n',-1)}">
	<th:block th:text="${line}"/><br />
	</th:block>
	</th:block>
	</div>
	<div class="commentList" >
	<strong>コメント</strong>
	<hr/>
	<th:block  th:if="${commentsList}" th:each="obj : ${commentsList}">
	<img th:src="${obj.account.profileImage}" style="width:40px; height:40px; border-radius: 50%;">
	<strong><th:block th:text="${obj.account.name}"></th:block></strong>
	<th:block th:text="${#dates.format(obj.created_at,'yyyy/MM/dd')}"></th:block>
	<p th:text="${obj.content}"></p>
	<br/>
	<hr />
	</th:block>
	</div>
	<div class="comment">
	<a  class="login"th:href="@{/login}">コメント機能を使うにはログインをしてください</a>
	</div>
	</div>
	<br />
	</section>
<script src="/javascript/dialog.js"></script>
</body>
</html>