<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/app.css}" type="text/css">
<title>ログイン</title> 
</head>
<body>
<header th:include="app :: frag_header_new"></header>
<section>
<div id="login">
<form th:action="@{/login}" method="post" >
    <table align="center">
    	<tr>
    		<td align="center">
    			ログイン
    		</td>
    	</tr>
    	<tr>
   			<td>
   				<input type="text" name="email" size="40"placeholder="メールアドレスまたはユーザーネーム"/>
   			</td>
   		</tr>
   		<tr>
   			<td>
   				<input type="password" name="password" size="40" placeholder="パスワード"/>
   			</td>
   		</tr>
   		<tr>
   			<td>
   				<a href="/RePassword">パスワードを忘れた人はこちら</a>
   				<input type="submit" value="ログイン" id="botton"/>
   			</td>
   		</tr>
   	</table>
   	</form>
</div>
</section>
</body>