<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/app.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/home.css}" type="text/css">
<title>ログアウト</title>
</head>
<body>
 <div th:include="app :: frag_header_logout"></div>
 <form th:action="@{/logout}" method="post">
 <p>ログアウトしてください</p>
  <button type="submit">ログアウト</button>
</form>
</body>
</html>