<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/mypage.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/home.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/app.css}" type="text/css">
<title>マイページ</title>
</head>
<body>
	<header th:include="app :: frag_header_logout"></header>
	<br/>
	<section align="center">
		<h1>投稿した記事一覧</h1>
		<div class="mypageLayout">
			<table class="mypage">
				<thead>
					<tr>
						<th>タイトル</th>
						<th>投稿日時</th>
						<th>編集</th>
						<th>削除</th>
					</tr>
				</thead>
				<tbody>
				
					<tr th:each="obj : ${articlesList}" th:if="${obj.delete_flag == 0}">
						<td><a th:href="@{/articlesShow(id=${obj.id})}"
							th:text="${obj.title}" id="title"></a></td>
						<td th:text="${obj.created_at}"></td>
						<form th:action="@{/edit}" method="post">
						<td>

							<button type="submit" name="action" value="edit">編集</button> <input
							type="hidden" th:value="${obj.id}" name="articleId" />

						</td>
						<td>
	
							<button type="submit" name="action" value="delete">削除</button>
							<input
							type="hidden" th:value="${obj.id}" name="articleId" />
						</td>
						</form>
					</tr>
				</tbody>
			</table>
			<div class="profile">
			<div class="profileInner">
			<strong>プロフィール</strong>
			<figure class="profile-image">
            <img src="/images/check.jpeg" alt="マイページ画像" width="200" height="200">
        </figure>
        <strong><th:block th:text="${account.name}"></th:block></strong>
        <hr />
        <a th:href="@{/profileEdit}">プロフィール編集</a>
			<p>aaaaaa
			</p>
			</div>
			</div>
			</div>
		
</section>

	<script src="/javascript/home.js"></script>
	<script src="/javascript/category.js"></script>
	<script src="/javascript/title.js"></script>
</body>
</html>