<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/app.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/signin.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/error.css}" type="text/css">
<title>新規登録画面</title>
</head>
<body>
<header th:include="app::frag_header_login"></header>
<dialog id="dialog" th:include="app :: dialog"></dialog>
<section>
<div class="signinOuter">
<strong><p align="center">新規ユーザー登録</p></strong>
<hr />
<th:block th:if="${validationError}" >
<div class="error">
<th:block th:each="error : ${validationError}">
※<th:block th:text="${error}"></th:block>
<br/>
</th:block>
</div>
</th:block>
<div class="signinInner">
<form th:action="@{/signup}" method="post">
<table align="center">
	<tr>
		<td>
			ユーザーネーム
		</td>
	</tr>
	<tr>
		<td>
			<input type="text" name="name" size="40"/>
		</td>
	</tr>
	<tr>
		<td>
			メールアドレス
		</td>
	</tr>
	<tr>
		<td>
			<input type="text" name="email"size="40"/>
		</td>
	</tr>
	<tr>
		<td>
			パスワード
		</td>
	</tr>
	<tr>
		<td>
			<input type="password" name="password"size="40"/>
		</td>
	</tr>
	<tr>
		<td>
			確認用のパスワード
		</td>
	</tr>
	<tr>
		<td>
			<input type="password" name="rePass" size="40"/>
		</td>
	</tr>
	<tr>
		<td>
		<br/>
		<div align="right">
			<input type="submit" value="新規登録" id ="botton"style="background-color:orange; color:white;
			width:100px; height:40px"/>
			<input type="hidden" value="http://localhost:8080/images/test0.jpeg" name="profileImage"/>
			</div>
		</td>
	</tr>
</table>
</form>
</div>
<p align="center">※新規登録の際に一度、空メールを送信させていただきます</p>
</div>
</section>
<script src="/javascript/dialog.js"></script>
</body>
</html>
