<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/app.css}" type="text/css">
<title>新規登録画面</title>
</head>
<body>
<div th:include="app::frag_header_login"></div>
<p align="center">新規登録</p>
<form th:action="@{/signup}" method="post">
<table align="center">
	<tr>
		<td>
			<p class = "error" th:text="${errorMessage}"></p>
		</td>
	</tr>
	<tr>
		<td>
			ユーザーネーム
		</td>
	</tr>
	<tr>
		<td>
			<input type="text" name="name"/>
		</td>
	</tr>
	<tr>
		<td>
			メールアドレス
		</td>
	</tr>
	<tr>
		<td>
			<input type="text" name="email"/>
		</td>
	</tr>
	<tr>
		<td>
			パスワード
		</td>
	</tr>
	<tr>
		<td>
			<input type="password" name="password"/>
		</td>
	</tr>
	<tr>
		<td>
			確認用のパスワード
		</td>
	</tr>
	<tr>
		<td>
			<input type="text" name="rePass"/>
		</td>
	</tr>
	<tr>
		<td>
			<input type="submit" value="新規登録" id ="botton">
		</td>
	</tr>
</table>
</form>
<p align="center">※登録ボタンを押すと確認用のメールを送信いたします</p>
<div id="fotter"></div>
</body>
</html>
